<p id='notice'><%= notice %></p>

<h1>Login</h1>

<%= form_tag '/login' do %>

  Username: <%= text_field_tag :username %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag 'Submit' %>

<% end %>
