<!DOCTYPE html>
<html>
<head>
  <title>ArtiblogzFinal</title>
  <h1 style='text-align: center'><%= link_to 'Artiblogz', topics_path %></h1>
  <div style='text-align: right'>
    <% if current_user %>
        <%= link_to current_user.username, user_path(current_user.id) %> | <%= link_to 'Logout', '/logout' %>
      <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Create Account', new_user_path %>
      <% end %>
  </div>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body style='background: lightblue;'>

<%= yield %>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
