<p id='notice'><%= notice %></p>

<h2>Listing topics</h2>

<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Created by @ Created at</td>
    </tr>
  </thead>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic_path(topic) %></td>
      <td><%= link_to topic.username, user_path(topic.user_id) %>@<%= topic.created_at.strftime('%F %R') %></td></tr>
    </tr>
  <% end %>
</table>
<br>

<% unless current_user.nil? %>
  <%= link_to 'New Topic', new_topic_path %>
<% end %>
