<p id='notice'><%= notice %></p>
<p>
  <strong><%= @topic.title %></strong> :
  <%= link_to @topic.username, user_path(@topic.user_id) %>@<%= @topic.created_at.strftime('%F %R') %><br>
</p>

<%= @topic.content %><br><br>

<% unless current_user.nil? %>
  <% if current_user.id == @topic.user_id %>
    <%= link_to 'Edit', edit_topic_path(@topic) %>
    <%= link_to 'Delete', topic_path(@topic), method: :delete, data: { confirm: 'Are you sure ?' } %>
  <% end %>
<% end %>

<h2>Comments :</h2>

<%= render @topic.comments  %>

<% unless current_user.nil? %>
  <h2>Add a comment :</h2>
  <%= render 'comments/form' %>
<% end %>
