<%= form_for ([@user]) do |f| %>

<% if @user.errors.any? %>
  <div id='error_explanation'>
    <h2>
      <%= pluralize(@user.errors.count, 'error') %> prohibited this article
      from being saved:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <strong>Mail address :</strong><br>
    <%= f.text_field :mail %>
  </p>
  <p>
    <strong>Password :</strong><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <strong>Repeat Password :</strong><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <strong>firstname :</strong><br>
    <%= f.text_field :firstname %>
  </p>
  <p>
    <strong>Lastname :</strong><br>
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
