<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.username %>
        <%= @user.mail %>
        <%= @user.firstname %>
        <%= @user.lastname %>
      </h1>
    </section>
  </aside>
</div>
