<% provide(:title, 'Sign up') %>
<h1>Create Account</h1>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id='error_explanation'>
          <h2>
            <%= pluralize(@user.errors.count, 'error') %> prohibited this article
            from being saved:
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :mail %>
      <%= f.email_field :mail %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, 'Confirmation' %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit 'Create my account' %>
    <% end %>
  </div>
</div>
