<p id='notice'><%= notice %></p>

<% provide(:title, @user.username) %>
<div class='row'>
  <aside class='col-md-4'>
    <section class='user_info'>
      <h1>
        <%= @user.username %><%= "'s profile" %>:
        <br>
        <br>
        <%= 'Mail adress :' %>
        <br>
        <%= @user.mail %>
        <br>
        <br>
        <% unless @user.firstname.nil? %>
          <%= 'Firstname :' %><br>
          <%= @user.firstname %>
          <br>
          <br>
        <% end %>
        <% unless @user.lastname.nil? %>
          <%= 'Lastname :' %><br>
          <%= @user.lastname %>
          <br>
          <br>
        <% end %>
      </h1>
      <% unless current_user.nil? %>
        <% if current_user.id == @user.id %>
          <%= link_to 'Edit profile', edit_user_path(@user), method: :get %>
        <% end %>
      <% end %>
    </section>
  </aside>
</div>
