<p>
<strong><%= comment.title %></strong> :
<%= link_to comment.username, user_path(comment.user_id) %>
<%= comment.created_at.strftime('%F %R') %>
</p>
<p>
  <%= comment.content %>
</p>

<% unless current_user.nil? %>
  <% if current_user.id == comment.user_id %>
    <%= link_to 'Edit', edit_topic_comment_path(@topic, comment), method: :get %>
    <%= link_to 'Delete', [comment.topic, comment], method: :delete, data: { confirm: 'Are you sure ?' } %><br>
  <% end %>
<% end %>
