<%= form_for ([@topic, @comment]) do |f| %>

<% if @comment.errors.any? %>
  <div id='error_explanation'>
    <h2>
      <%= pluralize(@comment.errors.count, 'error') %> prohibited this article from being saved:
    </h2>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <strong>Title :</strong><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <strong>Content :</strong><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
